form{
    width: 90%;
    border-style:solid ;
    border-width: 1px;
    border-color:gray
}
.head{
    background-color:rgb(200,200,200);
    border-style:solid ;
    border-width: 1px;
    border-color:gray
}
.tail{
    background-color:rgb(200,200,200);
    border-style:solid  ;
    border-width: 1px;
    border-color:gray
}
.body{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-style:solid ;
    border-width: 1px;
    border-color:gray
}
.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flex-column{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
h6{
    margin: 0px;
}
h1{
    margin: 0px;
}
.red-bacground{
    background-color: rgba(255,0,0,0.3);
}
.tail{
    display: flex;
    flex-direction: row-reverse;
    
}
.save{
    background-color: rgb(30, 144, 255);
}
.cancel{
    background-color: rgb(100,100,100);
}
ul{
    margin: 0px;
    padding: 0px;
    padding-left: 15px;
    background-color: grey;
}